## Python Basics Revision

This tutorial was originally written by [Justin Johnson](https://web.eecs.umich.edu/~justincj/) for cs231n. It was adapted as a Jupyter notebook for cs228 by [Volodymyr Kuleshov](http://web.stanford.edu/~kuleshov/) and [Isaac Caswell](https://symsys.stanford.edu/viewing/symsysaffiliate/21335).

This version has been adapted for Colab by Kevin Zakka for the Spring 2020 edition of [cs231n](https://cs231n.github.io/) and butchered by Andrei Bulzan in early 2022. It runs Python3 by default.

## Introduction

In [1]:
!python --version

Python 3.10.0

## Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

### Basic data types

#### Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [ ]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

#### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

#### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

### Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

#### Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

#### List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

#### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

#### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: cat
#3: fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d[t])       
print(d[(1, 2)])

<class 'tuple'>
5
1

In [ ]:
t[0] = 1

TypeError: ignored

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

# Python Revision Exercises
Add code cells below and write your code for exercises 1 through 9

In [1]:
#Input for 1 & 2
num_list = [12, -13, -5, -8, 10, 32, -3, -995, 533, -400, 32, 75, 150, 180, 145, 525, 50, 31, -15, 22, 41, 123, 512, 123, 1233]

1. Print all the negative odd numbers contained in **num_list**

In [3]:
print([num for num in num_list if num < 0 and num % 2 == 1])

[-13, -5, -3, -995, -15]


2. Calculate the sum of the last 15 elements **from num_list**

In [4]:
print(sum(num_list[-15:]))

3227

In [6]:
#Input for 3, 4 and 5
countries_list = ['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Malaysia', 'Mexico', 'Moldova', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Singapore', 'Slovakia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela']

3. Find all of the countries that end in 'land'

In [9]:
# countries that end in 'land'
land_countries = [country for country in countries_list if country[-4:] == 'land']
print(land_countries)

['Finland', 'Iceland', 'Ireland', 'New Zealand', 'Poland', 'Switzerland', 'Thailand']

4. Find all of the countries that are made up of more than one word (e.g. New Zealand)

In [10]:
# countries that are made up of 2 or more words
words_countries = [country for country in countries_list if len(country.split()) > 1]
print(words_countries)

['Costa Rica', 'Hong Kong', 'New Zealand', 'San Marino', 'South Africa', 'South Korea', 'United Kingdom', 'United States']


5. Add all countries that do not contain any of the letters 'b', 'c' and 'd' to a new list - watch out for case sensitivity, Bulgaria shouldn't appear in the new list

In [21]:
# countries that do not contain 'b', 'c', or 'd'
no_bcd_countries = [country for country in countries_list if not [char for char in 'bcdBCD' if char in country]]
print(no_bcd_countries)

['Argentina', 'Australia', 'Austria', 'Estonia', 'Germany', 'Guatemala', 'Hong Kong', 'Hungary', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Malaysia', 'Norway', 'Paraguay', 'Peru', 'Philippines', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Singapore', 'Slovakia', 'South Korea', 'Spain', 'Taiwan', 'Turkey', 'Ukraine', 'Uruguay', 'Venezuela']

In [1]:
#Input for 6, 7 and 8
countries_list = ['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Malaysia', 'Mexico', 'Moldova', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Singapore', 'Slovakia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela']
countries_subscription_prices = [9.26, 16.39, 20.32, 20.32, 13.99, 9.96, 13.54, 15.03, 12.74, 9.93, 15.99, 13.54, 14.15, 19.6, 13.99, 13.54, 18.06, 20.32, 20.32, 20.32, 15.8, 13.99, 13.99, 11.93, 13.78, 20.32, 8.6, 12.96, 20.32, 19.54, 20.32, 17.45, 13.54, 26.96, 13.54, 13.02, 14.24, 13.54, 18.06, 18.06, 16.94, 17.75, 14.69, 11.01, 10.93, 14.76, 18.06, 13.54, 13.56, 20.32, 16.11, 13.54, 12.58, 14.45, 20.32, 19.7, 26.96, 14.07, 12.52, 4.02, 11.29, 18.48, 17.99, 15.99, 13.99]
print(len(countries_list), len(countries_subscription_prices))

65 65

6. Create a dictionary out of the 2 lists above. The countries will be the keys and the subscription prices will be the values.
The two lists are ordered in the same way, so Argentina matches to 9.26, countries_list[30] matches to countries_subscription_prices[30] and so on.

In [2]:
country_sub_dict = {country: price for country, price in zip(countries_list, countries_subscription_prices)}
print(country_sub_dict)

{'Argentina': 9.26, 'Australia': 16.39, 'Austria': 20.32, 'Belgium': 20.32, 'Bolivia': 13.99, 'Brazil': 9.96, 'Bulgaria': 13.54, 'Canada': 15.03, 'Chile': 12.74, 'Colombia': 9.93, 'Costa Rica': 15.99, 'Croatia': 13.54, 'Czechia': 14.15, 'Denmark': 19.6, 'Ecuador': 13.99, 'Estonia': 13.54, 'Finland': 18.06, 'France': 20.32, 'Germany': 20.32, 'Gibraltar': 20.32, 'Greece': 15.8, 'Guatemala': 13.99, 'Honduras': 13.99, 'Hong Kong': 11.93, 'Hungary': 13.78, 'Iceland': 20.32, 'India': 8.6, 'Indonesia': 12.96, 'Ireland': 20.32, 'Israel': 19.54, 'Italy': 20.32, 'Japan': 17.45, 'Latvia': 13.54, 'Liechtenstein': 26.96, 'Lithuania': 13.54, 'Malaysia': 13.02, 'Mexico': 14.24, 'Moldova': 13.54, 'Monaco': 18.06, 'Netherlands': 18.06, 'New Zealand': 16.94, 'Norway': 17.75, 'Paraguay': 14.69, 'Peru': 11.01, 'Philippines': 10.93, 'Poland': 14.76, 'Portugal': 18.06, 'Romania': 13.54, 'Russia': 13.56, 'San Marino': 20.32, 'Singapore': 16.11, 'Slovakia': 13.54, 'South Africa': 12.58, 'South Korea': 14.45, 'Spain': 20.32, 'Sweden': 19.7, 'Switzerland': 26.96, 'Taiwan': 14.07, 'Thailand': 12.52, 'Turkey': 4.02, 'Ukraine': 11.29, 'United Kingdom': 18.48, 'United States': 17.99, 'Uruguay': 15.99, 'Venezuela': 13.99}

7. All of the prices above are in $USD. Update the dictionary such that it contains the prices in RON. Use any reasonable exchange rate.

In [3]:
for country, price in country_sub_dict.items():
    country_sub_dict[country] = round(price * 4.5, 2)

print(country_sub_dict)

{'Argentina': 41.67, 'Australia': 73.75, 'Austria': 91.44, 'Belgium': 91.44, 'Bolivia': 62.95, 'Brazil': 44.82, 'Bulgaria': 60.93, 'Canada': 67.63, 'Chile': 57.33, 'Colombia': 44.69, 'Costa Rica': 71.95, 'Croatia': 60.93, 'Czechia': 63.68, 'Denmark': 88.2, 'Ecuador': 62.95, 'Estonia': 60.93, 'Finland': 81.27, 'France': 91.44, 'Germany': 91.44, 'Gibraltar': 91.44, 'Greece': 71.1, 'Guatemala': 62.95, 'Honduras': 62.95, 'Hong Kong': 53.69, 'Hungary': 62.01, 'Iceland': 91.44, 'India': 38.7, 'Indonesia': 58.32, 'Ireland': 91.44, 'Israel': 87.93, 'Italy': 91.44, 'Japan': 78.52, 'Latvia': 60.93, 'Liechtenstein': 121.32, 'Lithuania': 60.93, 'Malaysia': 58.59, 'Mexico': 64.08, 'Moldova': 60.93, 'Monaco': 81.27, 'Netherlands': 81.27, 'New Zealand': 76.23, 'Norway': 79.88, 'Paraguay': 66.11, 'Peru': 49.55, 'Philippines': 49.19, 'Poland': 66.42, 'Portugal': 81.27, 'Romania': 60.93, 'Russia': 61.02, 'San Marino': 91.44, 'Singapore': 72.5, 'Slovakia': 60.93, 'South Africa': 56.61, 'South Korea': 65.02, 'Spain': 91.44, 'Sweden': 88.65, 'Switzerland': 121.32, 'Taiwan': 63.31, 'Thailand': 56.34, 'Turkey': 18.09, 'Ukraine': 50.8, 'United Kingdom': 83.16, 'United States': 80.95, 'Uruguay': 71.95, 'Venezuela': 62.95}

8. Find the cheapest 5 countries in terms of subscription price.

In [4]:
# cheapest 5 countries
sorted_country_sub_dict = sorted(country_sub_dict.items(), key=lambda x: x[1])

cheapest_5_countries = [(country, price) for country, price in sorted_country_sub_dict[:5]]
print(cheapest_5_countries)

[('Turkey', 18.09), ('India', 38.7), ('Argentina', 41.67), ('Colombia', 44.69), ('Brazil', 44.82)]


9.  Find the most expensive 5 countries in terms of subscription price.

In [5]:
expensive_5_countries = [(country, price) for country, price in sorted_country_sub_dict[-5:]]
print(*expensive_5_countries)

('Italy', 91.44) ('San Marino', 91.44) ('Spain', 91.44) ('Liechtenstein', 121.32) ('Switzerland', 121.32)